src/main/resources/schema/bean/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ws.address.jonak.com/address"
           xmlns:address="http://ws.address.jonak.com/address" 
           elementFormDefault="qualified">
    
    <xs:complexType name="address">
        <xs:sequence>            
            <xs:element minOccurs="0" name="street" type="xs:string"/>
            <xs:element minOccurs="0" name="house" type="xs:string"/>         
        </xs:sequence>
    </xs:complexType>   
   
</xs:schema>


