src/main/resources/schema/bean/userBean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ws.user.netizen.com/userBean"
           xmlns:us="http://ws.user.netizen.com/userBean"
           elementFormDefault="qualified">
    
    <xs:complexType name="userBean">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>         
        </xs:sequence>
    </xs:complexType>   
   
</xs:schema>


